/* CGT205 Final
	Team Type, Fall 2013
	Project colors: brown #766A57;  tan #EEE8DB; white #fff; black #000;
*/


body {
	margin: 0;
}

#pagewrapper {
	width: 600px;
	margin: 0 auto;
}

#nav {
	width: 600px;
	min-height: 2em;
	clear: both;
}


#header {
	min-height: 210px;
	padding: 0;
}

#logo {
	height: 150px;
	width: 150px;
	margin: 5px;
}


#name {
	min-height: 150px;
	width: 375px;
	margin: 5px 2px;
	font-size: 1.3em;
	float: left;
}



#goto {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
}

#goto li {

	width: 93px;
	display: inline;
	float: left;
}



#stuff0 {	
	margin: 1em 0 0 0;
	min-height: 3em;
}

#footer {
	margin-top: 10px;
	clear: both;
}